/****** FONTS *****/
@font-face {
    font-family: Asap; 
    src: url(../fonts/Asap-Regular.ttf);
}
*, body, div, p {
    font-family: 'Asap', sans-serif;
}



body {
    background: white;
}
.up_arrow {
    width: 45px;
    height: 41px;
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}
.up_arrow img {
    height: 15px;
    max-width: 100%;
    margin: 14px 0;
}
/****** TEXT TITLE *****/
.text--title {
    margin: 0;
    font-size: 90px;
    color: #4d4d4d;
}
.text--subtitle {
    color: #909090;
    font-size: 20px;
    font-weight: 600;
}
.text-title {
    color: #4d4d4d;
    font-size: 46px;
    font-weight: 700;
    line-height: 49px;
    text-transform: uppercase;
    letter-spacing: 5.52px;
}
.text-main {
    width: 500px;
    height: 121px;
    margin: 10px 0;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Asap', sans-serif;
}
.container {
    margin: 50px auto 0 auto;
}
.container div{
    width: 25%;
    margin: 20px auto;
    border-top: 4px solid #4d4d4d;
}
.container p {
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 5.52px;
}

/****** BUTTON *****/
.button  {
    font-size: 16px;
    margin: 15px 10px 0 0;
    font-weight: 600;
    color: #4d4d4d;
    text-transform: uppercase;
    text-align: center;
}
.active:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
}

/****** HOME *****/
.home {
    height: 100vh;
    width: 100%;
    background: url(../img/bg_element_.png);
    background-size: 100%;
}
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
.header--nav li {
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 40px;
}
.header--nav li a {
    color: #6e7679;
}
.header--nav li a:hover {
    border-bottom: 2px solid #4d4d4d;
}
/* HEADER main */
.about {
    height: calc(100vh - 80px);
}
.about div img {
    max-width: 100%;
    height: auto;
}
.button_left {
    height: 50px;
    width: 160px;
    background: white;
    border: none;
    box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
}
.button_right {
    height: 50px;
    width: 160px;
    border: 1px solid #4d4d4d;
}

/****** KNOW MORE *****/
.know-more {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.know-more-container1 {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10%;
}
.know-more-container1 div:first-child {
    width: 60px;
    border-top: 4px solid #4d4d4d;
    padding: 10px 0;
}
.know-more-container2 {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.know-more-container2 img {
    max-width: 100%;
    height: auto;
}
.button-cv {
    height: 50px;
    width: 240px;
    background: white;
    border: black 1px solid;
    margin: 30px 0;
}

/****** SERVICES *****/
.services {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 11fr;
    justify-content: center;
    text-align:center;
    background-color: #f6f6f6;
}
.services-container2 {
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.services-container2--item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
.services-container2 div p {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 500;
    line-height: 49px;
}

/****** MY SKILLS*****/
.my_skills {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 11fr;
    justify-items: center;
    align-items: center;
}
.my_skills--main {
    margin: 5%;
}
.my_skills--main img {
    max-width: 100%;
    height: auto;
}

/****** PORTFOLIO *****/
.portfolio {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr 2fr;
    justify-items: center;
    align-items: center;
    align-items: center;
    background-color: #f6f6f6;
}
.portfolio_containers {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 50px;
}
.portfolio_button {
    width: 190px;
    height: 50px;
    box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    border: 1px none black;
    /* Style for "LOAD MORE" */
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
}
.portfolio_containers img {
    max-width: 85%;
    height: auto;
}
.portfolio_button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/****** TESTIMONIALS *****/
.testimonials {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 4fr;
    justify-items: center;
    align-items: center;
}
.slider {
    height: 30vh;
    width: 40vw;
    border: 1px solid black;
    padding: 1%;
}
.slider--content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 45px 25px 45px;
}
.slider--content div:nth-child(1) {
    max-width: 100%;
}
.slider--content img {
    height: auto;
    padding: 0 10px;
}
.slider--content p:nth-child(1) {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.slider--content p:nth-child(2) {
    margin-top: 5px;
    opacity: 0.9;
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
}
.slider--content p:nth-child(3) {
    margin-top: 20px;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.slider--scrolling {
    display: flex;
    justify-content: center;
}
.slider--scrolling div {
    height: 13px;
    width: 13px;
    text-align: center;
    border: 1px solid black;
    margin: 2px;
}
.slider--scrolling div:nth-child(2) {
    background: black;
}
.testimonials_achievements {
    height: 80%;
    width: 100%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background-color: #f6f6f6;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.testimonials_achievements div p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0;
}
.testimonials_achievements div p:nth-child(3) {
    font-size: 22px;
    text-transform: uppercase;
}

/****** CONTACT *****/
.contact {
    background: url(../img/banner-2.jpg) no-repeat;
    background-size: cover;
}
.contact_block {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.69);
    color: white;
}
/* Color */
.color div {
    margin-top: 25%;
    border-top: 4px solid white;
}
.color p {
    color: white;
}
.contact_form {
    text-align: center;
}
.contact_form div {
    margin: 30px 0;
}
.contact_form div input {
    margin: 0 14px;
    height: 57px;
    width: 360px;
    background-color: #ffffff;
    padding-left: 10px;
}
.contact_form div textarea {
    width: 758px;
    height: 187px;
    background-color: #ffffff;
    padding: 20px 10px;
}
.contact_form div button {
    width: 123px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d4d4d;
    background-color: #ffffff;
    border: none; 
}
input::placeholder, textarea::placeholder{
    font-weight: bold;
}
input:invalid {
    background: #fdd !important; /* Красный цвет фона */
}
button img {
    height: 11px;
    width: 13px;
    margin: 0 5px; 
}
.contact_footer {
    width: 80%;
    border-top: 1px solid white;
    padding: 2% 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.contact_footer--icons {
    display: flex;
    justify-content: flex-start;
}
.contact_footer--icons div {
    width: 27px;
    height: 27px;
    background-color: #ffffff;
    margin-right: 9px;
}
.contact_footer--icons div img {
    height: auto;
    max-width: 100%;
    filter: grayscale(100%); 
}
.contact_footer--icons div img:hover {
    filter: grayscale(0); 
}